html {
    margin: 0;
}

body {
    margin: 0;
}

nav img {
    height: 82%;
    width: 82%;
    margin: 8% 0 0 6%;
}

ul {
    padding: 0;
    width: 100%;
    height: 100%;
    margin: 0;
}

nav li {
    background-color: #7DDFE8;
    color: white;
    list-style: none;
    text-align: center;
    padding: .6rem 0 .6rem 0;
}

li a {
    color: white;
    margin: 5%;
    text-decoration: none;
}

h2 {
    margin-left: 1rem;
}

.majority {
    margin: 1rem;
}

.second-majority {
    background-color: #0B1942;
}

.topCap {
    background-color: #0B1942;
    color: #FFFFFF;
}

.nav-bar {
    display: flex;
}

.home {
    background-color: #00A5BF;
}

.cal {
    background-color: #00B7D3;
}

.join {
    background-color: #00D5E7;
}

.feature {
    background-color: #E2E2E2;
    display: flex;
    padding-bottom: 1rem;
}

#logo {
    background-color: #F5005B;
    width: 36%;
    height: 7rem;
}

.btm {
    margin: 1rem;
}

.rashomon img {
    height: 14rem;
    margin: 1rem 0 0 1rem;
}

.rashomon {
    flex: 1 1 50%
}

.information {
    flex: 1 1 50%;
    padding-left: 10%;
}

.featureTwo {
    display: flex;
    flex-wrap: wrap;
    background-color: #E2E2E2;
    margin: 1.5rem 0 0 0;
}

.featureTwo img {
    height: 14rem;
}

.poster {
    margin: 1rem 0 0 1rem;
}