html {
    margin: 0;
}

body {
    margin: 0;
    background-color: #FFFFFF;
}

nav img {
    height: 82%;
    width: 82%;
    margin: 8% 0 0 6%;
}

ul {
    padding: 0;
    width: 100%;
    height: 100%;
    margin: 0;
}

nav li {
    background-color: #7DDFE8;
    color: white;
    list-style: none;
    text-align: center;
    padding: .6rem 0 .6rem 0;
}

li a {
    color: white;
    margin: 5%;
    text-decoration: none;
}

h2 {
    margin-left: 1rem;
}

h3 {
    padding-left: 1rem;
}

textarea {
    width: 100%;
    height: 3rem;
}

.majority {
    margin: 1rem;
}

.second-majority {
    background-color: #0B1942;
    padding-bottom: 2rem;
}

.topCap {
    background-color: #0B1942;
    color: #FFFFFF;
    /*padding: 5px 0;*/
}

.nav-bar {
    display: flex;
}

.home {
    background-color: #00A5BF;
}

.cal {
    background-color: #00B7D3;
}

.join {
    background-color: #00D5E7;
}

.feature {
    background-color: #E2E2E2;
    display: flex;
    padding-bottom: 1rem;
}

#logo {
    background-color: #F5005B;
    width: 36%;
    height: 7rem;
}

.btm {
    margin: 1rem 1rem 0rem 1rem;
}

.rashomon img {
    height: 14rem;
    margin: 1rem 0 0 1rem;
}

.rashomon {
    flex: 1 1 50%
}

.information {
    flex: 1 1 50%;
    padding-left: 10%;
    padding-top: 1rem;
}

.featureTwo {
    display: flex;
    flex-wrap: wrap;
    background-color: #E2E2E2;
    margin: 1.5rem 0 0 0;
}

.featureTwo a {
    padding-top: 3px;
    color: #00B7D3;
}

topCap a {
    color: #00B7D3;
}

.featureTwo img {
    height: 14rem;
}

.poster {
    margin: 1rem 0 0 1rem;
}

.calenders ul {
    display: flex;
    flex-wrap: wrap;
    background-color: #0B1942;
    padding-bottom: 2rem;
    list-style: none;
}

.calender li {
    background-color: white;
    border: solid 1px #0B1942;
    height: 3rem;
    width: 3rem;
}

.calender li:hover {
    background-color: #F5005B;
}

.calender div {
    color: white;
    background-color: #0B1942;
    width: 46%;
    height: 51%;
    text-align: center;
    font-size: x-small;
}

.profilePic img {
    border-radius: 22rem;
    border: 1px;
    height: 20rem;
    margin: 2rem 0;
}

.checks legend {
    margin-top: 2rem;
}

.checks input {
    margin: 1rem 0;
}

.text {
    margin-top: 2rem;
}

#name {
    width: 100%;
    height: 1.5rem;
}

#email {
    width: 100%;
    height: 1.5rem;
}

#password {
    width: 100%;
    height: 1.5rem;
}

#confirm-password {
    width: 100%;
    height: 1.5rem;
}

#meet {
    margin-left: 1rem;
}

#up {
    padding-top: 1rem;
    padding-left: 1rem;
}

#bot {
    padding: 2rem 0;
}

#submit {
    background-color: #F5005B;
    color: #FFFFFF;
    height: 3rem;
    width: 7rem;
    margin-bottom: 2rem;
}

@media (min-width:545px) {
    #logo {
        width: 18%;
    }
    nav ul {
        display: flex;
        height: 7rem;
        background-color: #7DDFE8;
    }
    nav li {
        width: 6rem;
        padding-top: 3rem;
    }
    #bot {
        width: 62%;
        text-align: right;
    }
    .topRow {
        display: flex;
    }
    .topped {
        display: flex;
    }
    .first {
        flex: 1 1 30%;
        margin-right: 1rem;
    }
    .profilePic img {
        height: 18rem;
    }
    .profilePic {
        flex: 1 1 50%;
    }
    .inputs {
        flex: 1 1 50%;
        margin-left: 1rem;
    }
    .second {
        flex: 1 1 30%;
        margin: 0 1rem;
    }
    .third {
        flex: 1 1 30%;
        margin-left: 1rem;
    }
    .rashomon img {
        height: 25rem;
    }
    .calender li {
        width: 5rem;
        height: 5rem;
    }
    .calender div {
        height: 31%;
        width: 27%;
    }
    .tp {
        margin-bottom: 5rem;
        padding: 1rem 0;
    }
    .checkss {
        display: flex;
        flex-wrap: wrap;
    }
    .chec {
        flex: 1 1 50%;
    }
}

@media (min-width: 769px) {
    html {
        background-color: black;
    }
    body {
        width: 1280px;
        margin: auto;
    }
    .btm {
        display: flex;
    }
    .feature {
        flex: 1 1 50%;
        height: 20rem;
    }
    .featureTwo {
        flex: 1 1 50%;
        margin-left: 4rem;
    }
    .rashomon img {
        height: 19rem;
    }
    .featureTwo {
        margin-top: 0;
    }
    .featureTwo img {
        height: 19rem;
        margin-left: 3rem;
    }
    .featureTwo p {
        margin-left: 3rem;
    }
    .featureTwo a {
        margin-left: 3rem;
    }
    #logo {
        width: 9rem;
    }
    .calender li {
        height: 8rem;
        width: 8rem;
    }
    .calender div {
        height: 27%;
        font-size: larger;
    }
    .chec {
        flex: 1 1 30%;
    }
    .text {
        margin: 1rem;
    }
    textarea {
        width: 69%;
    }
    .inputs {
        display: flex;
    }
    .tp {
        margin: 0;
        padding: 0 35px 0;
    }
    .profilePic {
        flex: 1 1 25%;
    }
    .bt {
        margin-left: 6rem;
    }
    .checP {
        margin-right: 48rem;
    }
    #name {
        width: 185%;
    }
    #password {
        width: 185%;
    }
    #email {
        width: 185%;
    }
    #confirm-password {
        width: 185%;
    }
}